#ignoring target folder
target
# ignoring .setting
.settings
.classpath
.project
# tomcat
hitado-web/tomcat/work
hitado-web/tomcat/logs
hitado-web/.settings
hitado-web/.classpath

hitado-service/.settings
hitado-service/target
hitado-service/target-output
hitado-service/.classpath

hitado-model/.settings
hitado-model/target
hitado-model/target-output
hitado-model/.classpath

